<h1>Lista de Productos</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{title}}</strong> - {{description}} | ${{price}} <br />
      Código: {{code}} | Stock: {{stock}} | Categoría: {{category}}
      
      <!-- Botón para agregar al carrito -->
      <form action="/api/carts/{{../cartId}}/products/{{this._id}}" method="POST" style="margin-top: 0.5rem;">
        <button type="submit">Agregar al carrito</button>
      </form>
    </li>
    <hr />
  {{/each}}
</ul>