<h1>Lista de Productos</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{title}}</strong> - {{description}} | ${{price}} <br />
      Código: {{code}} | Stock: {{stock}} | Categoría: {{category}}
    </li>
  {{/each}}
</ul>